* {
  font-family: sans-serif;
}

.image-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.image-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.image-container {
  height: 200px;
  width: 100px;
  margin-right: 20px;
  width: fit-content;
}

img {
  border-radius: 10px;
}

.image-container img {
  height: 100%;
}

.image-list img {
  width: 100%;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 32px;
}

h2 {
  margin: 0;
  font-size: 24px;
}

h3 {
  margin-top: 10px;
  font-size: 18px;
}

p {
  margin-top: 10px;
}

a {
  margin-top: auto;
}
